*{
    margin:0;
    padding: 0;
}


body{
    font-family: sans-serif;
    background-image: url("https://i.stack.imgur.com/94lQI.png");
}

.wrapper{
    min-height: 100%;
}

.container{
    padding: 4vw 2vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container img{
    width: 25vw;
    
    border-radius: 1vw;
    border: 0.3vw solid gray;
}

.container h2{
    margin-bottom: 0.3vw;
}

.first_pic, .second_pic, .third_pic {
    padding: 2vw;
    text-align: center;
}

.menu{
display: flex;
justify-content: space-around;
background-color: #537072;
text-decoration: none;
}

.l1, .l2, .l3, .l4, .ll1, .ll2, .ll3, .ll4 {
    width: 100%;
    height: 2.5vw;
    border: 0.1vw solid black;
    top: 50%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}




.header{
    height: 100px;
    background: url('https://worldhockey.market/upload/iblock/da7/Bauer_Logo_Horizontal_Black_400.png') no-repeat;
    background-color: #8E9B97;
    background-position: center;
    display: flex;
    justify-content: center;

}

.header .img{
    width: 100%;
}

.info{
    background-color: #8E9B97;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.main{
    flex-grow: 1;
    background-color: #ccc;
}

.footer{
    height: 9vw;
    background-color: black;    
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h4{
    letter-spacing: 0.1vw;
    line-height: 3.5vw;
    text-align: justify;
    text-indent: 2vw;
    text-transform: uppercase;
    word-spacing: 1%;
    color: gray;
}

.info h3, .menu{
    letter-spacing: 0.1vw;
    line-height: 3vw;
    text-align: justify;
    text-indent: 2.7vw;
    text-transform: uppercase;
    word-spacing: 1%;
    color: black;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.2vw;
    resize: vertical;
}

label {
    padding: 1vw 1vw 1vw 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1vw 1.8vw;
    border: none;
    border-radius: 0.15vw;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 0.2vw;
    padding: 1.8vw;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 0.5vw;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 0.5vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.send{
    margin-left: 5.5vw;
}